.benefits__wrapper {
  @include mobile-responsive();

  padding-top: 27px;
  padding-bottom: 27px;

  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position:bottom left;
  background-size: auto 6px;
}

.benefits__list {
    @include reset-list-style();

    max-width: 700px;

    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}

.benefits__item {
  position: relative;

  width: 290px;

  display: block;
  padding: 50px 0 27px 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    fill: $mint-color;
  }
}

.benefits__item--eco {
    svg {
      width: 32px;
      height: 37px;
    }
  }

.benefits__item--price {
  svg {
    width: 47px;
    height: 29px;
  }
}

.benefits__item--like {
  svg {
    width: 33px;
    height: 28px;
  }
}

.benefits__item--love {
  svg {
    width: 34px;
    height: 34px;
  }
}

.benefits__item--native {
  svg {
    width: 54px;
    height: 23px;
  }
}

.benefits__item--giftpack {
  svg {
    width: 32.5px;
    height: 32.5px;
  }
}

@media (min-width: $tablet-width) {

  .benefits__wrapper {
    @include tablet-responsive();

    padding-top: 55px;
    padding-bottom: 55px;

    background-image: none;
  }

  .benefits__item {
    width: 50%;

    box-sizing: border-box;
    padding-top: 75px;

    font-size: 20px;
    line-height: 22px;
  }

  .benefits__item svg {
    top: 20px;
  }

  .benefits__item--eco {
    order: -6;
    padding-right: 90px;
  }

  .benefits__item--price {
    order: -4;
    padding-right: 90px;
  }

  .benefits__item--like {
    order: -2;
    padding-right: 90px;
  }

  .benefits__item--love {
    order: -5;
  }

  .benefits__item--native {
    order: -3;
  }

  .benefits__item--giftpack {
    order: -2;
  }

} //end tablet

@media (min-width: $desktop-width) {

  .benefits__wrapper {

    @include desktop-adaptive();

    padding-top: 70px;
    padding-left: 175px;
    box-sizing: border-box;
  }

} //end desktop
