.catalog {
  width: $mobile-content-width;
  margin: 30px auto;
}

.catalog__list {
  @include reset-list-style();
}

@media (min-width: $tablet-width) {

  .catalog {
    width: $tablet-content-width;
  }

} //end tablet

@media (min-width: $desktop-width) {

  .catalog {
    width: $desktop-content-width;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
  }

} //end desktop
