
.catalog__list {
  @include reset-list-style();
  @include mobile-responsive();

  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
}

@media (min-width: $tablet-width) {

  .catalog__list {
    @include tablet-responsive();
  }

} //end tablet

@media (min-width: $desktop-width) {

  .catalog__list {
    @include desktop-adaptive();

    display: flex;
    justify-content: space-between;
  }

} //end desktop
