.good-item {
  //display: flex;
  margin-bottom: 30px;
}

.good-item__details {
  padding: 25px 27px;
  border: 1px solid $light-gray-color;
}

.good-item__title {
  margin-bottom: 12px;
}

.good-item__desc {
  margin: 0 0 22px;
  font-size: 13px;
  color: $gray-color;
}

.good-item__footer {
  display: flex;
  padding: 25px 0 0;
  border-top: 1px solid $light-gray-color;
}

.good-item__price {
  font-size: 15px;
  font-weight: 700;
}

.good-item__btn-buy {
  margin: 0 0 0 auto;
}
