.intro {
  margin-bottom: 30px;

  background-color: $bg-light-gray;
}

.intro__header {
  height: 285px;
  box-sizing: border-box;
  padding: 70px 0 0;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.intro__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  margin: 0;
  padding: 0 30px;
}


@media (min-width: $tablet-width) {

  .intro {
    position: relative;

    margin-bottom: 45px;
  }

  .intro__wrapper {
    @include tablet-responsive();
  }

  .intro:after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 15px;

    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-size: auto 23px;
  }

  .intro__header {
    height: 626px;
    padding-top: 155px;

    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
  }

} //end tablet


@media (min-width: $desktop-width) {

  .intro {
    margin-bottom: 70px;
  }

  .intro:after {
    background-size: auto;
  }

  .intro__wrapper {
    @include desktop-adaptive();
  }

  .intro__header {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .intro__title {
    font-size: 53px;
    line-height: 57px;
  }

} //end desktop
