 .page-h2 {
  font-size: 25px;
  line-height: 30px;

  margin:0 0 25px 0;
}

@media (min-width: $tablet-width) {

  .page-h2 {
    font-size: 43px;
    line-height: 50px;
  }

}

@media (min-width: $desktop-width) {

  .page-h2 {
    font-size: 53px;
    line-height: 57px;
  }

}
