.page-footer {
  padding: 25px 30px;
  background-color: $bg-gray;
}

.page-footer__social {
  padding: 0 0 25px 0;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  padding: 25px 0 0 0;

  text-align: center;
}
