.page-footer {
  padding: 25px 0 15px;
  background-color: $bg-gray;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding: 0 0 25px 0;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  padding: 25px 0 0 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyright__text {
  display: block;
  padding-top: 10px;
}

.copyright__link svg {
  fill: $mint-color;
  margin-left: 20px;
}

.copyright__link:hover svg path {
  fill: $dark-mint-color;
}

.copyright__link:focus svg path,
.copyright__link:active svg path {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {

  .page-footer {
    padding: 40px 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include tablet-responsive();
  }

  .page-footer__logo {
    display: block;
    padding-top: 5px;
  }

  .page-footer__logo a:hover svg path{
    fill: $mint-color;
  }

  .page-footer__logo a:active svg path,
  .page-footer__logo a:focus svg path{
    fill: $mint-color;
    opacity: 0.3;
  }

  .page-footer__social {
    padding: 8px 0 0 0;
    border: none;
  }

  .page-footer__copyright {
    padding: 0;
  }

} //end tablet

@media (min-width: $desktop-width) {

  .page-footer__wrapper {
    @include desktop-adaptive();
  }

} //end desktop
