$padding: 27px;
$border-width: 1px;

.production {
  margin: 0 30px 60px;
  padding: 22px $padding 30px;
  box-sizing:border-box;
  border: $border-width solid $light-gray-color;
}

.production__title {
  margin: 0 0 20px;
  padding: 0 0 0 70px;
}

.production__video-wrapper {
  margin: 0 (-$padding - $border-width) 27px;
  border-top: $border-width solid $light-gray-color;
}

.production__desc {
  margin: 0 0 50px;
  font-size: 13px;
  line-height: 24px;
  color: $gray-color;
}
