.production {
  width: $mobile-content-width;
  margin: 0 auto 60px;
  padding: 22px 0 30px;
  box-sizing:border-box;
  border: 1px solid $light-gray-color;
  box-sizing:border-box;
}

.production__title {
  margin: 0 auto 20px;
  padding: 0 0 0 70px;
  border-bottom: 1px solid $light-gray-color;
}

.production__video-wrapper {
  background-color: #ccc; //временно
}

.production__desc {
  margin: 0 0 50px;
  font-size: 13px;
  line-height: 24px;
  color: $gray-color;
}

@media (min-width: $tablet-width) {

 .production {
    width: $tablet-content-width;
    display: flex;
    flex-direction: column;
  }

  .production__title {
    border-bottom: none;
  }

  .production__video-wrapper {
    order: -1;
  }

}

@media (min-width: $desktop-width) {

  .production {
    width: $desktop-content-width;
    position: relative;
    padding-left: 683px;
  }

  .production__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 683px;
  }


}
