.reviews {

}

.reviews__wrapper {
  @include mobile-responsive();

  padding-top: 27px;
  padding-bottom: 50px;

  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position:bottom left;
  background-size: auto 6px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0 0 20px;

  color: $gray-color;
  line-height: 30px;
}

.reviews__cite {
  display: block;
}

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.reviews__insta-name {
  display: block;

  font-size: 17px;
  line-height: 30px;
}

.reviews__button-write {
  max-width:260px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {

  .reviews {
    padding: 0;
  }

  .reviews__wrapper {
    @include tablet-responsive();
    position: relative;

    min-height: 377px;

    padding-top: 80px;
    padding-bottom: 85px;

    background-image: url(../img/bg-zigzag-line.svg), url(../img/review@1x.jpg);
    background-position: bottom left, 0 0;
    background-repeat: repeat-x, no-repeat;
    background-size: auto 15px, auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../img/bg-zigzag-line.svg), url(../img/review@2x.jpg);
      background-size: auto 15px, 350px 457px;
    }
  }

  .reviews__title {
    padding-right: 250px;
    margin-bottom: 62px;
  }

  .reviews__button-write {
    position: absolute;
    top: 80px;
    right: $tablet-padding;
  }

  .reviews__cite {
    padding-right: 250px;
  }

  .reviews__text {
    font-size: 17px;
  }

  .reviews__author-name {
    font-size: 18px;
    margin-bottom: 5px;
  }

} //end tablet

@media (min-width: $desktop-width) {

  .reviews__wrapper {
    width: 875px;
    margin: 0 auto;
    min-height: 400px;

    padding: 75px 0 90px 175px;
    margin: 0 auto;

    background-size: auto, 350px 457px;
  }

} //end desktop
