.slider {
  position: relative;
}

.slider__list {
  margin: 0 0 35px;
}

.slider__button-wrapper {
  display: flex;

  width: 100%;
  max-width: 260px;
  margin: 0 0 38px;

  border: 1px solid $light-gray-color;
  box-sizing: border-box;
}

.slider__button {
  width:50%;
  height: 53px;

  box-sizing:border-box;
  padding: 15px 0;

  font-size: 0;
  cursor: pointer;

  background-color: $white-color;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;

  &:hover {
    background-color: $white-color;
    opacity: .6;
  }
  &:active {
    background-color: $white-color;
    opacity: .3;
  }

  &--left {
    background-image: url(../img/icon-left-arrow.svg);
    border-right: 1px solid $light-gray-color;
  }
  &--right {
    background-image: url(../img/icon-right-arrow.svg);
  }

}

@media (min-width: $tablet-width) {

  .slider__button-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 200px;
    margin: 0;

    border: none;
  }

  .slider__button--left {
    border: none;
  }

} //end desktop
