.social__list {
  @include reset-list-style();

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin: 0 16px 0 20px;
}

.social__link--instagram svg {
  width: 22px;
  height: 22px;
}

.social__link--facebook svg{
  width: 15px;
  height: 28px;
}

.social__link--twitter svg {
  width: 25px;
  height: 30px;
}

.social__link:hover svg {
    fill: $mint-color;
  }

.social__link:active svg,
.social__link:focus svg {
  fill: $mint-color;
  opacity: 0.3;
}

