.styled-form__list {
  @include reset-list-style();
}

.styled-form__fieldset {
  margin: 0 0 30px;
  padding: 0;
  border: none;
  border-top: 1px solid $mint-color;
}

.styled-form__legend {
  margin-left: 0;
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 23px;

  color: $mint-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}

.styled-form__list-item {
  margin-bottom: 25px;
}

.styled-form__fieldset .styled-form__list-item:last-child {
  margin-bottom: 0;
}

.styled-form__label {
	display: block;
  margin-bottom: 5px;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

	user-select: none;
}

.styled-form__label-checkbox,
.styled-form__label-radio {
  position: relative;

  min-height: 40px;
  margin: 0;
  padding-top: 9px;
  padding-left: 70px;
  box-sizing: border-box;

  cursor: pointer;
}

.styled-form__input-checkbox + label::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;

	width: 40px;
	height: 40px;

  box-sizing: border-box;
  border: 2px solid #000000;
}

.styled-form__input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 12px;

  width: 22px;
  height: 16px;

  background-image: url(../img/icon-tick.svg);
  background-size: contain;
}

.styled-form__input-radio + label::before {
  content: "";

  position: absolute;
  left: 0px;
  top: 0;

  width: 40px;
  height: 40px;

  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;
}

.styled-form__input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 12px;

  width: 16px;
  height: 16px;

  background-color: $mint-color;
  border-radius: 50%;
}

.styled-form__input:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.styled-form__input:hover + label::before,
.styled-form__input:focus + label::before,
.styled-form__input:hover + label::after,
.styled-form__input:focus + label::after {
	opacity: 1;
}

.styled-form__input[type="text"],
.styled-form__input[type="email"],
.styled-form__input[type="phone"] {
  width: 100%;

  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #000;
  box-sizing:border-box;
  background-color: transparent;

  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: $black-color;
}

.styled-form__textarea {
  width: 100%;
  min-height: 145px;

  padding: 13px 17px;
  border: 2px solid #000;
  box-sizing:border-box;
  background-color: transparent;

  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: $black-color;

  resize:none;
}

.styled-form__input:active,
.styled-form__input:focus {
  color: $black-color;
}

.styled-form__input::placeholder,
.styled-form__textarea::placeholder {
  color: #cccccc;
}

.styled-form__required-text {
  font-size: 14px;
  line-height: 16px;
  color: $gray-color;
  margin-bottom: 30px;
}

.styled-form__input-wrapper {
  position: relative;
}

.styled-form__input-wrapper svg {
  position: absolute;
  right: 0;
  top: 5px;

  opacity: 0.2;
  z-index: 2;
}

.styled-form__input-phone[type="phone"],
.styled-form__input-email[type="email"] {
  padding-right: 40px;
}

@media (min-width: $tablet-width) {

  .styled-form__label {
    font-size: 19px;
    line-height: 18px;
  }

}
