@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  min-width: 290px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff; }

a {
  color: #000000;
  text-decoration: none; }
  a:hover {
    color: rgba(0, 0, 0, 0.6); }
  a:active, a:focus {
    color: rgba(0, 0, 0, 0.3); }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  display: block;
  padding: 15px 40px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #444444; }
  .button:hover {
    color: #ffffff;
    background-color: #444444; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444; }

.burger-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .burger-button:hover, .burger-button:active {
    background-color: #ffffff; }

.main-nav--closed .burger-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  width: 22px;
  height: 2px;
  background-color: #000000;
  -webkit-box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
          box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000; }

.main-nav--opened .burger-button::before, .main-nav--opened .burger-button::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 2px;
  width: 28px;
  height: 2px;
  background-color: #000000; }

.main-nav--opened .burger-button::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none; }

.main-nav--opened .burger-button::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

@media (max-width: 767px) {
  .burger-button {
    display: block; } }

.page-h1 {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 40px; }

@media (min-width: 768px) {
  .page-h1 {
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1200px) {
  .page-h1 {
    font-size: 53px;
    line-height: 57px; } }

.page-h2 {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 25px 0; }

@media (min-width: 768px) {
  .page-h2 {
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1200px) {
  .page-h2 {
    font-size: 53px;
    line-height: 57px; } }

.page-h3 {
  margin: 0 0 15px;
  font-size: 17px;
  line-height: 24px; }

@media (min-width: 768px) {
  .page-h3 {
    font-size: 20px; } }

.page-header {
  position: relative;
  z-index: 1; }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 0 0; }

.page-header__logo {
  -ms-flex-item-align: center;
      align-self: center; }

.page-header__logo img {
  width: 90px;
  height: 40px; }

@media (min-width: 768px) {
  .page-header {
    height: 90px;
    overflow: visible;
    border-bottom: 1px solid #ececec; }
  .page-header__wrapper {
    position: relative;
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 0; }
  .page-header__logo {
    position: absolute;
    top: 20px;
    left: 6.5%;
    z-index: 2; }
    .page-header__logo[href]:hover {
      opacity: 0.6; }
    .page-header__logo[href]:active, .page-header__logo[href]:focus {
      opacity: 0.3; }
  .page-header__logo img {
    width: 115px;
    height: 53px; } }

@media (min-width: 1200px) {
  .page-header__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; }
  .page-header__logo {
    top: 10px;
    left: 50%; }
  .page-header__logo img {
    width: 149px;
    height: 72px; } }

.main-nav {
  position: relative;
  margin: 20px 0 0 0;
  border-top: 1px solid #ececec; }

.main-nav__toggle {
  position: absolute;
  top: -58px;
  right: 26px;
  z-index: 2; }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 700;
  color: #000000;
  text-decoration: none; }

.main-nav__list--extra {
  display: none; }

.main-nav__link {
  display: block;
  padding: 27px 30px 27px 75px;
  border-bottom: 1px solid #ececec; }

.user-list__link {
  position: relative; }

.user-list__link svg {
  position: absolute;
  left: 30px;
  top: 31px;
  width: 18px;
  height: 18px;
  fill: #d3d2d2; }

.user-list__link:hover svg {
  fill: #63d1bb; }

.user-list__link:active svg,
.user-list__link:focus svg {
  fill: #63d1bb;
  opacity: 0.3; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    display: none; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav__free-shipping {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    margin: 0;
    border-top: none; }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .main-nav__list--site {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%; }
  .site-list__item {
    padding-right: 30px; }
  .site-list__link {
    padding: 0; }
  .main-nav__list--user {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 53%;
    margin-left: 47%; }
  .main-nav__link {
    border-bottom: none; }
  .user-list__item {
    font-size: 17px;
    border-left: 1px solid #ececec; }
  .user-list__item--search {
    font-size: 0; }
  .user-list__link {
    padding: 33px 0 0px 80px;
    height: 57px; }
  .user-list__link svg {
    top: 36px; }
  .site-list__item {
    padding: 18px 30px 18px 0; }
  .main-nav__free-shipping {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 18px 0;
    text-align: right;
    width: 50%; } }

@media (min-width: 1200px) {
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-nav__wrapper {
    width: 100%; }
  .main-nav__list--site {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: auto; }
  .main-nav__list--extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav__list--user {
    margin: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .site-list__item {
    padding: 35px 35px 0 0;
    border-right: 1px solid #ececec;
    font-size: 17px; }
    .site-list__item:last-child {
      padding-right: 0;
      padding-left: 35px;
      border: none; }
  .extra-list__item {
    padding: 18px 60px 18px 0; }
  .extra-list__link {
    padding: 0; } }

.main-title {
  background-color: #f1f1f1;
  margin-bottom: 30px; }

.main-title__wrapper {
  max-width: 767px;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 70px;
  padding-bottom: 30px; }

.main-title__h1 {
  text-align: center; }

@media (min-width: 768px) {
  .main-title {
    margin-bottom: 80px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-size: auto 23px;
    background-position: bottom left; }
  .main-title__wrapper {
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 95px;
    padding-bottom: 70px; } }

@media (min-width: 1200px) {
  .main-title {
    margin-bottom: 110px;
    background-size: auto; }
  .main-title__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px; } }

.styled-form__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.styled-form__fieldset {
  margin: 0 0 30px;
  padding: 0;
  border: none;
  border-top: 1px solid #63d1bb; }

.styled-form__legend {
  margin-left: 0;
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 23px;
  color: #63d1bb;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase; }

.styled-form__list-item {
  margin-bottom: 25px; }

.styled-form__fieldset .styled-form__list-item:last-child {
  margin-bottom: 0; }

.styled-form__label {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.styled-form__label-checkbox,
.styled-form__label-radio {
  position: relative;
  min-height: 40px;
  margin: 0;
  padding-top: 9px;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer; }

.styled-form__input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #000000; }

.styled-form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url(../img/icon-tick.svg);
  background-size: contain; }

.styled-form__input-radio + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%; }

.styled-form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: #63d1bb;
  border-radius: 50%; }

.styled-form__input:disabled + label {
  opacity: 0.4;
  cursor: default; }

.styled-form__input:hover + label::before,
.styled-form__input:focus + label::before,
.styled-form__input:hover + label::after,
.styled-form__input:focus + label::after {
  opacity: 1; }

.styled-form__input[type="text"],
.styled-form__input[type="email"],
.styled-form__input[type="phone"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000000; }

.styled-form__textarea {
  width: 100%;
  min-height: 145px;
  padding: 13px 17px;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  resize: none; }

.styled-form__input:active,
.styled-form__input:focus {
  color: #000000; }

.styled-form__input::-webkit-input-placeholder,
.styled-form__textarea::-webkit-input-placeholder {
  color: #cccccc; }

.styled-form__input::-moz-placeholder,
.styled-form__textarea::-moz-placeholder {
  color: #cccccc; }

.styled-form__input:-ms-input-placeholder,
.styled-form__textarea:-ms-input-placeholder {
  color: #cccccc; }

.styled-form__input::-ms-input-placeholder,
.styled-form__textarea::-ms-input-placeholder {
  color: #cccccc; }

.styled-form__input::placeholder,
.styled-form__textarea::placeholder {
  color: #cccccc; }

.styled-form__required-text {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 30px; }

.styled-form__input-wrapper {
  position: relative; }

.styled-form__input-wrapper svg {
  position: absolute;
  right: 0;
  top: 5px;
  opacity: 0.2;
  z-index: 2; }

.styled-form__input-phone[type="phone"],
.styled-form__input-email[type="email"] {
  padding-right: 40px; }

@media (min-width: 768px) {
  .styled-form__label {
    font-size: 19px;
    line-height: 18px; } }

.goods-types {
  padding: 0;
  margin: 0;
  list-style: none; }

.goods-types__link {
  position: relative;
  display: block;
  padding: 25px 9%;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  -webkit-transition: margin-top .4s ease, padding-bottom .4s ease;
  transition: margin-top .4s ease, padding-bottom .4s ease; }
  .goods-types__link:hover {
    color: #ffffff;
    margin-top: -5px;
    padding-bottom: 42px; }
  .goods-types__link:active {
    color: rgba(255, 255, 255, 0.3); }

.goods-types__item--interior {
  background-color: #63d1bb; }
  .goods-types__item--interior .goods-types__link {
    background-color: #63d1bb; }

.goods-types__item--toys {
  background-color: #56c3b2; }
  .goods-types__item--toys .goods-types__link {
    background-color: #56c3b2; }

.goods-types__name {
  display: block;
  width: 130px; }

.goods-types__link svg {
  position: absolute;
  right: 9%;
  top: 23px;
  width: 40px;
  height: 60px;
  opacity: 0.5;
  fill: #149080; }

.goods-types__link--toys svg {
  width: 60px;
  right: 8%; }

@media (min-width: 768px) {
  .goods-types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .goods-types__item {
    width: 50%; }
  .goods-types__link {
    padding: 30px 37px 37px;
    font-size: 20px;
    line-height: 30px; }
  .goods-types__link svg {
    top: 30px; } }

.intro {
  margin-bottom: 30px;
  background-color: #f9f9f9; }

.intro__header {
  height: 285px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 0 0;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro__header {
      background-image: url("../img/hero-mobile@2x.jpg"); } }

.intro__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0 30px; }

@media (min-width: 768px) {
  .intro {
    position: relative;
    margin-bottom: 45px; }
  .intro__wrapper {
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%; }
  .intro:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-size: auto 23px; }
  .intro__header {
    height: 626px;
    padding-top: 155px;
    background-image: url("../img/hero-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .intro__header {
      background-image: url("../img/hero-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .intro__title {
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1200px) {
  .intro {
    margin-bottom: 70px; }
  .intro:after {
    background-size: auto; }
  .intro__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; }
  .intro__header {
    background-image: url("../img/hero-desktop@1x.jpg"); } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .intro__header {
      background-image: url("../img/hero-desktop@2x.jpg"); } }

@media (min-width: 1200px) {
  .intro__title {
    font-size: 53px;
    line-height: 57px; } }

.product-of-week__wrapper {
  max-width: 767px;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 50px;
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: auto 6px; }

.product-of-week__header {
  margin: 0 0 25px; }

.product-of-week__title {
  margin: 0 0 5px; }

.product-of-week__label {
  display: block;
  color: #63d1bb;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 17px;
  font-weight: 700; }

.product-of-week__desc {
  margin: 0 0 19px 0;
  color: #444444; }

.product-of-week__details {
  width: 100%;
  margin-bottom: 27px;
  border-collapse: collapse;
  border-spacing: 0;
  color: #444444; }

.product-of-week__details td {
  padding: 8px 0;
  border-bottom: 1px solid #ececec; }

.product-of-week__option {
  width: 30%; }

.product-of-week__img {
  display: block;
  margin: 0 0 27px 0;
  text-align: center; }

.product-of-week__price {
  margin: 0 0 27px 0;
  font-size: 17px;
  font-weight: 700; }

.product-of-week__footer {
  text-align: center; }

.product-of-week__btn {
  width: 100%;
  max-width: 290px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .product-of-week__wrapper {
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 70px;
    min-height: 505px;
    background-size: auto 15px; }
  .product-of-week__header {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 0 45px; }
  .product-of-week__title {
    max-width: 501px;
    white-space: nowrap; }
  .product-of-week__label {
    width: 100px;
    text-align: center; }
  .product-of-week__body {
    width: 45%;
    max-width: 450px; }
  .product-of-week__img {
    position: absolute;
    right: 6.5%;
    top: 100px;
    margin: 0; }
  .product-of-week__img img {
    width: 333px;
    height: 404px; }
  .product-of-week__desc {
    margin-bottom: 43px; }
  .product-of-week__details {
    margin-bottom: 54px; }
  .product-of-week__price {
    margin-bottom: 35px;
    text-align: center;
    font-size: 20px; }
  .product-of-week__footer {
    width: 290px;
    margin-top: auto; }
  .product-of-week__btn {
    width: 290px;
    max-width: auto;
    margin: 0; } }

@media (min-width: 1200px) {
  .product-of-week__wrapper {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    min-height: 729px;
    padding-top: 55px;
    padding-left: 175px;
    padding-bottom: 103px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: auto; }
  .product-of-week__header {
    position: relative;
    z-index: 2;
    margin-bottom: 47px; }
  .product-of-week__title {
    width: auto; }
  .product-of-week__label {
    position: absolute;
    left: -155px;
    top: 15px; }
  .product-of-week__body {
    width: 290px; }
  .product-of-week__desc {
    margin-bottom: 53px; }
  .product-of-week__details {
    margin-bottom: 104px; }
  .product-of-week__img {
    top: 0;
    right: 0;
    z-index: 1; }
  .product-of-week__img img {
    width: 525px;
    height: 636px; }
  .product-of-week__price {
    margin-bottom: 42px; } }

.benefits__wrapper {
  max-width: 767px;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: auto 6px; }

.benefits__list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.benefits__item {
  position: relative;
  width: 290px;
  display: block;
  padding: 50px 0 27px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700; }
  .benefits__item svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: #63d1bb; }

.benefits__item--eco svg {
  width: 32px;
  height: 37px; }

.benefits__item--price svg {
  width: 47px;
  height: 29px; }

.benefits__item--like svg {
  width: 33px;
  height: 28px; }

.benefits__item--love svg {
  width: 34px;
  height: 34px; }

.benefits__item--native svg {
  width: 54px;
  height: 23px; }

.benefits__item--giftpack svg {
  width: 32.5px;
  height: 32.5px; }

@media (min-width: 768px) {
  .benefits__wrapper {
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 55px;
    padding-bottom: 55px;
    background-image: none; }
  .benefits__item {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 75px;
    font-size: 20px;
    line-height: 22px; }
  .benefits__item svg {
    top: 20px; }
  .benefits__item--eco {
    -webkit-box-ordinal-group: -5;
        -ms-flex-order: -6;
            order: -6;
    padding-right: 90px; }
  .benefits__item--price {
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
    padding-right: 90px; }
  .benefits__item--like {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    padding-right: 90px; }
  .benefits__item--love {
    -webkit-box-ordinal-group: -4;
        -ms-flex-order: -5;
            order: -5; }
  .benefits__item--native {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3; }
  .benefits__item--giftpack {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2; } }

@media (min-width: 1200px) {
  .benefits__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
    padding-left: 175px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.slider {
  position: relative; }

.slider__list {
  margin: 0 0 35px; }

.slider__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 260px;
  margin: 0 0 38px;
  border: 1px solid #ececec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.slider__button {
  width: 50%;
  height: 53px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0;
  font-size: 0;
  cursor: pointer;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  border: none; }
  .slider__button:hover {
    background-color: #ffffff;
    opacity: .6; }
  .slider__button:active {
    background-color: #ffffff;
    opacity: .3; }
  .slider__button--left {
    background-image: url(../img/icon-left-arrow.svg);
    border-right: 1px solid #ececec; }
  .slider__button--right {
    background-image: url(../img/icon-right-arrow.svg); }

@media (min-width: 768px) {
  .slider__button-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    margin: 0;
    border: none; }
  .slider__button--left {
    border: none; } }

.reviews__wrapper {
  max-width: 767px;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 27px;
  padding-bottom: 50px;
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: auto 6px; }

.reviews__item {
  margin: 0; }

.reviews__text {
  margin: 0 0 20px;
  color: #444444;
  line-height: 30px; }

.reviews__cite {
  display: block; }

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px; }

.reviews__insta-name {
  display: block;
  font-size: 17px;
  line-height: 30px; }

.reviews__button-write {
  max-width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .reviews {
    padding: 0; }
  .reviews__wrapper {
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    position: relative;
    min-height: 377px;
    padding-top: 80px;
    padding-bottom: 85px;
    background-image: url(../img/bg-zigzag-line.svg), url(../img/review@1x.jpg);
    background-position: bottom left, 0 0;
    background-repeat: repeat-x, no-repeat;
    background-size: auto 15px, auto; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews__wrapper {
      background-image: url(../img/bg-zigzag-line.svg), url(../img/review@2x.jpg);
      background-size: auto 15px, 350px 457px; } }

@media (min-width: 768px) {
  .reviews__title {
    padding-right: 250px;
    margin-bottom: 62px; }
  .reviews__button-write {
    position: absolute;
    top: 80px;
    right: 6.5%; }
  .reviews__cite {
    padding-right: 250px; }
  .reviews__text {
    font-size: 17px; }
  .reviews__author-name {
    font-size: 18px;
    margin-bottom: 5px; } }

@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 875px;
    margin: 0 auto;
    min-height: 400px;
    padding: 75px 0 90px 175px;
    margin: 0 auto;
    background-size: auto, 350px 457px; } }

.contacts__wrapper {
  max-width: 767px;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 38px;
  padding-bottom: 40px; }

.contacts__title {
  font-size: 18px;
  margin: 0 0 38px; }

.contacts__desc {
  color: #444444; }

.contacts__desc-line {
  margin: 0 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contacts__item {
  margin: 0;
  line-height: 30px; }

.contacts__item--name {
  min-width: 80px; }

.contacts__item--value {
  min-width: 180px; }

.contacts__map {
  margin: 0 -11% 40px; }
  .contacts__map .picture {
    text-align: center; }

.contacts__button {
  width: 260px;
  margin: 0 auto; }

.contacts__e-mail-link {
  display: inline-block;
  border-bottom: 1px solid #63d1bb;
  text-decoration: none; }
  .contacts__e-mail-link:hover {
    color: #63d1bb;
    text-decoration: none; }

@media (min-width: 768px) {
  .contacts__wrapper {
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 60px;
    padding-bottom: 60px; }
  .contacts__title {
    position: relative;
    padding-right: 100px;
    font-size: 43px;
    overflow: visible; }
    .contacts__title:after {
      content: '';
      position: absolute;
      top: -10px;
      right: 0;
      width: 47px;
      height: 81px;
      background-image: url(../img/icon-flag.svg);
      background-position: 0 0;
      background-repeat: no-repeat; }
  .contacts__item {
    font-size: 17px; }
  .contacts__map {
    margin-bottom: 55px;
    background-color: #ccc; }
  .contacts__button {
    width: 234px; }
  .contacts__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contacts__desc-line {
    width: 50%; } }

@media (min-width: 1200px) {
  .contacts__wrapper {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    min-height: 635px;
    padding-top: 70px;
    padding-left: 175px;
    padding-bottom: 105px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .contacts__title {
    font-size: 53px;
    padding-right: 0; }
    .contacts__title:after {
      right: auto;
      left: -100px; }
  .contacts__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 55px; }
  .contacts__desc-line {
    width: 100%; }
  .contacts__map {
    position: absolute;
    top: 70px;
    right: 0;
    width: 525px;
    height: 457px;
    margin: 0;
    overflow: hidden; }
  .contacts__button {
    margin: 0; } }

.footer-h3 {
  margin: 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700; }

.page-footer {
  padding: 25px 0 15px;
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none; }

.page-footer__social {
  padding: 0 0 25px 0;
  border-bottom: 1px solid #e5e5e5; }

.page-footer__copyright {
  padding: 25px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.copyright__text {
  display: block;
  padding-top: 10px; }

.copyright__link svg {
  fill: #63d1bb;
  margin-left: 20px;
  width: 34px;
  height: 43px; }

.copyright__link:hover svg {
  fill: #149080; }

.copyright__link:focus svg,
.copyright__link:active svg {
  opacity: 0.3; }

@media (min-width: 768px) {
  .page-footer {
    padding: 40px 0; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%; }
  .page-footer__logo {
    display: block;
    padding-top: 5px; }
    .page-footer__logo svg {
      width: 102px;
      height: 34px; }
  .page-footer__logo a:hover svg {
    fill: #63d1bb; }
  .page-footer__logo a:active svg,
  .page-footer__logo a:focus svg {
    fill: #63d1bb;
    opacity: 0.3; }
  .page-footer__social {
    padding: 8px 0 0 0;
    border: none; }
  .page-footer__copyright {
    padding: 0; } }

@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; } }

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.social__item {
  margin: 0 16px 0 20px; }

.social__link--instagram svg {
  width: 22px;
  height: 22px; }

.social__link--facebook svg {
  width: 15px;
  height: 28px; }

.social__link--twitter svg {
  width: 25px;
  height: 30px; }

.social__link:hover svg {
  fill: #63d1bb; }

.social__link:active svg,
.social__link:focus svg {
  fill: #63d1bb;
  opacity: 0.3; }

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 767px;
  padding-left: 9%;
  padding-right: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

@media (min-width: 768px) {
  .catalog__list {
    max-width: 1050px;
    padding-left: 6.5%;
    padding-right: 6.5%; } }

@media (min-width: 1200px) {
  .catalog__list {
    width: 1050px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.good-item {
  width: 260px;
  margin-bottom: 30px; }
  .good-item:hover {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }

.good-item__details {
  padding: 25px 27px;
  border: 1px solid #ececec; }

.good-item__title {
  margin-bottom: 12px; }

.good-item__desc {
  margin: 0 0 22px;
  font-size: 13px;
  color: #444444; }

.good-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0 0;
  border-top: 1px solid #ececec; }

.good-item__price {
  font-size: 15px;
  font-weight: 700; }

.good-item__button-buy {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0 0 auto; }
  .good-item__button-buy svg path {
    fill: #d3d2d2; }

.good-item__button-buy:hover svg path {
  fill: #63d1bb; }

.good-item__button-buy:active svg path,
.good-item__button-buy:focus svg path {
  fill: #63d1bb;
  opacity: 0.3; }

@media (min-width: 768px) {
  .good-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 55px; }
  .good-item__picture {
    display: block;
    width: 334px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .good-item__picture img {
    width: 334px;
    height: 334px; }
  .good-item__details {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .good-item__footer {
    margin-top: auto; } }

@media (min-width: 1200px) {
  .good-item {
    width: 316px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .good-item__picture img {
    width: 316px;
    height: 462px; }
  .good-item__details {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.production {
  margin-bottom: 60px; }

.production__wrapper {
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .production__wrapper:hover {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }

.production__title {
  position: relative;
  margin-bottom: 0;
  padding: 25px 27px 25px 90px; }
  .production__title:before {
    content: '';
    position: absolute;
    left: 27px;
    top: 34px;
    width: 32px;
    height: 32px;
    background-image: url(../img/icon-video.svg);
    background-size: 100%;
    background-repeat: no-repeat; }

.production__video-wrapper {
  position: relative;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }

.production__play-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  margin-left: -50px;
  margin-top: -33px;
  background-image: url(../img/icon-play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 0; }
  .production__play-btn:hover {
    -webkit-transition: scale(1.2);
    transition: scale(1.2); }
  .production__play-btn:focus, .production__play-btn:active {
    -webkit-transition: scale(0.8);
    transition: scale(0.8);
    opacity: 0.6; }

.production__details {
  padding: 28px 32px 32px; }

.production__desc {
  margin-top: 0;
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.production__btn-order {
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 768px) {
  .production {
    margin-bottom: 65px; }
  .production__wrapper {
    width: 668px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .production__title {
    padding-top: 38px;
    padding-bottom: 38px;
    border-color: #ececec; }
  .production__desc {
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 30px; }
  .production__video-wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border-top: none; }
  .production__video-wrapper img {
    width: 668px;
    height: 455px; }
  .production__details {
    padding: 0 40px 45px; } }

@media (min-width: 1200px) {
  .production {
    margin-bottom: 105px; }
  .production__wrapper {
    position: relative;
    width: 1050px;
    padding-left: 682px;
    min-height: 457px; }
  .production__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px; }
  .production__video-wrapper img {
    width: 682px;
    height: 455px; }
  .production__title {
    padding: 95px 55px 30px 78px; }
    .production__title:before {
      left: 78px;
      top: 45px; }
  .production__details {
    padding: 0 55px 60px 78px; }
  .production__btn-order {
    width: 230px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.order-form {
  max-width: 767px;
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 60px; }

.order-form__intro {
  margin: 0 0 27px;
  font-size: 13px;
  color: #444444; }

.order-form__button-submit {
  width: 100%; }

@media (min-width: 768px) {
  .order-form {
    max-width: 100%;
    padding: 0; }
  .order-form__wrapper-item,
  .order-form__footer {
    padding: 0 6.5%; }
  .order-form__wrapper-item:nth-child(2n) {
    background-color: #f1f1f1; }
  .order-form__intro,
  .order-form__fieldset,
  .order-form__footer {
    width: 668px;
    margin: 0 auto; }
  .order-form__intro {
    font-size: 17px;
    line-height: 30px; }
  .order-form__fieldset {
    position: relative;
    border: none;
    padding-left: 168px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .order-form__legend {
    position: absolute;
    left: 0;
    top: 62px; }
  .fieldset-color .styled-form__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .fieldset-color .styled-form__list-item {
    width: 50%; }
  .fieldset-color .styled-form__list-item:nth-last-child(-n+2) {
    margin-bottom: 0; }
  .fieldset-fullname .styled-form__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .fieldset-fullname .styled-form__label {
    padding-top: 13px;
    margin-bottom: 0;
    margin-right: 25px; }
  .fieldset-phone {
    padding-bottom: 25px; }
    .fieldset-phone .order-form__legend {
      top: 67px; }
  .fieldset-email {
    padding-top: 0; }
    .fieldset-email .order-form__legend {
      top: 17px; }
  .order-form__button-submit {
    width: 230px;
    padding-left: 10px;
    padding-right: 10px; }
  .order-form__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .styled-form__required-text {
    font-size: 17px;
    line-height: 30px;
    margin: 0; } }

@media (min-width: 1200px) {
  .order-form__wrapper-item {
    padding: 0; }
  .order-form__fieldset,
  .order-form__intro,
  .order-form__footer {
    width: 700px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-right: 175px;
    padding-left: 175px;
    margin-right: auto;
    margin-left: auto; }
  .order-form__legend {
    left: 60px; }
  .fieldset-color .styled-form__list-item {
    width: 33%; } }

/*# sourceMappingURL=style.css.map */
