@import "_mixins.scss";
@import "variables.scss";
@import "fonts.scss";
@import "scaffolding.scss";

@import "blocks/button.scss";
@import "blocks/button-burger.scss";
@import "blocks/page-h1.scss";
@import "blocks/page-h2.scss";
@import "blocks/page-h3.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-title.scss";
@import "blocks/styled-form.scss";

@import "blocks/goods-types.scss";
@import "blocks/intro.scss";
@import "blocks/product-of-week.scss";
@import "blocks/benefits.scss";
@import "blocks/slider.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/footer-h3.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";

@import "blocks/catalog.scss";
@import "blocks/good-item.scss";
@import "blocks/production.scss";
@import "blocks/order-form.scss";
//@import "blocks/.scss";

