$black-color: #000000;
$black-hover: rgba(0,0,0,0.6);
$black-active: rgba(0,0,0,0.3);

$white-color: #ffffff;
$white-active: rgba(255,255,255,0.3);

$mint-color: #63d1bb;
$dark-mint-color: #149080;
$gray-color: #444444;
$light-gray-color: #ececec;
$bg-mint: #56c3b2;
$bg-gray: #f1f1f1;

$font-family: "OpenSans", "Arial", sans-serif;
