$black-color: #000000;
$black-hover: rgba(0,0,0,0.6);
$black-active: rgba(0,0,0,0.3);

$white-color: #ffffff;
$white-active: rgba(255,255,255,0.3);

$mint-color: #63d1bb;
$dark-mint-color: #149080;

$gray-color: #444444;
$light-gray-color: #ececec;

$bg-mint: #56c3b2;
$bg-gray: #f1f1f1;
$bg-light-gray: #f9f9f9;

$font-family: "OpenSans", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-width-only:767px;

$mobile-padding: 9%;
$tablet-padding: 6.5%;
//$desctop-padding: 100px;

$mobile-content-width:260px;
$tablet-content-width: 668px;
$desktop-content-width: 1050px;
